.login_container {
  width: 400px;
  padding: 180px 556px 332px 556px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 80px;
    font: 1em sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }
}

.fields_container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .forgot_pass_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    color: #316fea;
  }
}

.footer_container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
